body {
  padding: 0;
}

#buttons {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#buttons div {
  margin: 0;
  height: 100%;
  width: 50%;
  display: inline-block;
}

#redbutton {
  background-color: red;
}

#bluebutton {
  background-color: blue;
  float: right;
}

#buttons div:active {
  opacity: 0.5;
}

#table {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: lightgray;
  top: 0;
}

#table table {
  background-color: white;
  position: absolute;
  border: solid black 1px;
  width: 100vh;
  height: 100vh;
  left: calc(50% - 50vh);
}

#table td {
  border: solid black 1px;
}
