body {
  padding: 0;
}


#table {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: lightgray;
  top: 0;
}

#table table {
  background-color: white;
  position: absolute;
  border: solid black 1px;
  width: 40vw;
  height: 40vw;
  right: 0;
  bottom: 0;
}

#table td {
  border: solid black 1px;
}
